body {
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
}

header {
  background-color: #214485;
  color: white;
  height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  h1 {
    margin: 0;
    padding: 0;
    line-height: 70px;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #214485;
  padding: 0.5rem;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
